body{
  font-family: Comfortaa,Tinos,sans-serif;
  font-size: 15px;
  line-height:1.5;

  margin-left: 0;
  margin-right: 0;
  margin-top:0;
  margin-bottom:0;
  padding:0;
  /*box-sizing: border-box;*/

}

.container {
  margin:0 ;
  padding:0;
  height:90%;


}
.sect {
  width:100%;

  margin: 1em auto;
  padding:0;

  display:block;
}





#logoImg {
  margin: 25px auto 0 auto;
  max-width: 20%;
  display:block;

}
 #logoText {
   margin:-30px auto 1% auto;
   width:400px;
   display:block;
   box-sizing: border-box;
 }

#banner {
margin:0 0;
padding:0;
height:70%;
overflow:hidden;

}

#banner img{
margin:0 0  ;
padding:0 ;
width:100%;
height:20%;
display:block;


}

#message{
  margin:0 auto;
  font-size: 100%;
  font-weight: bold;
  text-align: center;
  font-kerning: 30;
  color: #3e627e;
}
.sect {
  margin:0;
  padding:0;
  width:100%;
  min-height:75%;
}
#fb_link  {
  margin:10px auto;
  width:200px

}
#fb_link img {
  padding:1em;
  margin:2em auto;
  width:180px;
  display:block;
  


}
footer {
  margin:0;
  padding:0;
  width:100%;

  
  background-color: #f79406;

}
 footer p{
  margin:0 auto;
  padding:10px 0 10px 0;
  text-align: center;
  font-size:100%;
  width:100%;
  color:white;
  background-color: #f57708;

 }


footer #contact{
    width:80%;
    margin:0 auto;
    padding:1em 0 2em 0;
    display:block;
    text-align: center;
    width:80%;

}
  footer a {
    margin: 1em 2em 1em 2em;
    font-size:100%;
    color:white;
    text-decoration: none;
    white-space: nowrap;
  }

  footer a img {
    margin : 0 .3em 0 0 ;
    height:1.3em;
    position: relative;
    top: .25em;
    white-space: nowrap;
  }



  /*Media */
@media screen and (min-width:600px)
{

}


@media screen and (max-width:799px){

    #logoImg{
      margin-top:.8em;
      width:150px;
    }
    #logoText{
    width:300px;
    }
    #message {
      font-size: 70%;

    }
    #fb_ling img {
      width:120px;
    }

    footer p{
      font-size: 70%;
    }
    footer a {
      margin: 1em 2em .5em 2em;
      font-size:90%;

    }


}
